* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  margin: auto;
  padding: 0 25px 0 25px;
  background-color: lightblue;
}

#heading {
  background: #0f0982;
  color: white;
  padding: 0px;
  margin-top: 0;
  text-align: center;
}

#logo-title {
  white-space: nowrap;
}

button {
  font-size: 20px;
  padding: 5px;
  margin-top: 10px;
}

#first-button {
  background-color: blue;
  border: 2px solid white;
  border-radius: 25px;
  color: white;
}

.second-button-set {
  background-color: lightgreen;
}

.button-row {
  display: inline-block;
}

#content {
  border: none;
  padding: 20px;
  text-align: center;
}