* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  margin: auto;
  background-color: lightblue;
}

#header {
  background: #0f0982;
  color: white;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.icon {
  font-size: 44px;
  color: white;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #0f0982;
  color: white;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

#footer-links {
  width: 10%;
  display: inline-flex;
  justify-content: space-around;
}

#footer-link-wrapper {
  width: 20%;
  display: inline-flex;
}

#logo-title {
  white-space: nowrap;
}

button {
  font-size: 20px;
  padding: 5px;
  margin-top: 10px;
}

#first-button {
  background-color: blue;
  border: 2px solid white;
  border-radius: 25px;
  color: white;
}

.second-button-set {
  background-color: lightgreen;
}

.button-row {
  display: inline-block;
}

#content {
  position: relative;
  border: none;
  padding: 20px;
  text-align: center;
}